# Ambiente (development, testing, production)
ENVIRONMENT=development

# Configuração de banco de dados
DATABASE_URL=sqlite:///./sentiment_analysis.db

# Configurações da API
API_TITLE="Sentiment Analysis API"
API_VERSION="0.1.0"
API_DESCRIPTION="API para análise de sentimentos em textos"

# Configurações de log
LOG_LEVEL=INFO